* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: auto;
  text-align: center;
  font-family: Roboto;
}

h1 {
  padding-top: 1rem;
  font-weight: 100;
}

#table-container {
  display: inline-block;
  font-weight: 200;
  height: 600px;
  margin-top: 1rem;
  padding: 30px;
  position: relative;
  width: 600px;
}

.header-cell:not(:last-child) {
  border-right: 1px dotted;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #3b3b3b;
}

::-webkit-scrollbar-thumb {
  background-color: #818181;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4b78FA;
}
